
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Athiti|Chonburi|Kanit|Pattaya");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// font-awesome
$fa-font-path: '/webplan/public/fonts/vendor/font-awesome';
@import "~font-awesome/scss/font-awesome";

// Bulma
//@import '~bulma/bulma';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Kanit', sans-serif;
  //font-family: 'Pattaya', sans-serif;
  //font-family: 'Athiti', sans-serif;
  //font-family: 'Chonburi', cursive;
}
